*{
    margin: 0;
    padding:0;
}


.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#quote-box{
    min-height: 300px;
    width: 550px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px 30px;
}

#text{
    font-size: 2rem;
}

#author{
    margin:10px;
    float: right;
    font-size: 1.4rem;
}

.button-group{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a, button{
    font-size: 1rem;
    padding: 10px;
    color: white;
    border-radius: 2px;
    border:none;
    cursor: pointer;
    
}